body {
  background-color: white;
}
h1 {
  color: black;
  font-family: Arial, sans-serif;
}
h3 {
  color: black;
  font-family: Arial, sans-serif;
}
p {
  color: #808080;
  font-family: Arial, sans-serif;
}
a {
  font-family: Arial, sans-serif;
}
ul {
  color: #808080;
  font-family: Arial, sans-serif;
}
